body{
	align-content:center;
}

h2, h3, h4 {
	text-align: center;
}

h3 {
	border-top-style: solid;
	border-color: rgb(85,69,69);
}

h4 {
	margin: 3px;
}

form {
	text-align: center;
}

#button {
	width: 200px;
	height: 40px;
	background-color: rgb(178, 223, 80);
	margin-top: 40px;
}